<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hit.wizewalletapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:label">
        <activity
            android:name="com.hit.wizewalletapp.Activities.LoginActivity"
            android:exported="true" />
        <activity
            android:name="com.hit.wizewalletapp.Activities.MainActivity"
            android:exported="true" />

        <activity
            android:name="com.hit.wizewalletapp.Activities.TransactionHistoryActivity"
            android:exported="true" />
        <activity
            android:name="com.hit.wizewalletapp.Activities.BalanceScreen"
            android:exported="true" />
        <activity
            android:name="com.hit.wizewalletapp.Activities.SendMoneyScreen"
            android:exported="true" />
        <activity
            android:name="com.hit.wizewalletapp.Activities.MenuScreen"
            android:exported="true" />
        <activity
            android:name="com.hit.wizewalletapp.Activities.TopUpScreen"
            android:exported="true" />
        <activity
            android:name="com.hit.wizewalletapp.Activities.WithdrawScreen"
            android:exported="true" />
        <activity
            android:name="com.hit.wizewalletapp.Activities.ContactListScreen"
            android:exported="true" />
        <activity
            android:name="com.hit.wizewalletapp.Activities.ElectricityBillScreen"
            android:exported="true" />
        <activity
            android:name="com.hit.wizewalletapp.Activities.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>