<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hit.wizewalletapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:label" >
        <activity
            android:name=".Activities.General_Activites.PaymentSplashScreen"
            android:exported="false" />
        <activity
            android:name=".Activities.General_Activites.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.Child_Activities.ChildTransactionHistoryActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.Child_Activities.ChildBalanceScreen"
            android:exported="true" />
        <activity
            android:name=".Activities.Parent_Activities.ParentBalanceScreen"
            android:exported="true" />
        <activity
            android:name=".Fragments.AddChildFragment"
            android:exported="true" />
        <activity
            android:name=".Activities.Parent_Activities.SendMoneyScreen"
            android:exported="true" />
        <activity
            android:name=".Activities.Child_Activities.ChildMenuScreen"
            android:exported="true" />
        <activity
            android:name=".Activities.Child_Activities.ChildTipsScreen"
            android:exported="true" />
        <activity
            android:name=".Activities.Parent_Activities.ParentTipsScreen"
            android:exported="true" />
        <activity
            android:name=".Activities.Parent_Activities.ParentMenuScreen"
            android:exported="true" />
        <activity
            android:name=".Activities.Parent_Activities.ParentTransactionHistoryActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.Parent_Activities.ParentTasksScreen"
            android:exported="true" />
        <activity
            android:name=".Activities.Parent_Activities.ChildListScreen"
            android:exported="true" />
        <activity
            android:name=".Activities.Child_Activities.ChildTasksScreen"
            android:exported="true" />
        <activity
            android:name=".Activities.General_Activites.SplashScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>