<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hit.wizewalletapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">
        <activity
            android:name=".Folders.Parent_Folder.Activities.ParentBalanceActivity"
            android:exported="false" />
        <activity
            android:name=".General_Activites.PaymentSplashScreen"
            android:exported="false" />
        <activity
            android:name=".General_Activites.LoginActivity"
            android:exported="true" />

        <activity
            android:name=".Folders.Child_Folder.Activites.ChildBalanceActivity"
            android:exported="true" />

        <activity
            android:name=".General_Activites.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>